<h4>Notam result</h4>
<table class="table">
  <tr>
    <th>Airport (ICAO code)</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thrusday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
<% @notams.each do |notam| %>
  <tr>
    <td><%= notam.a_section %></td>
    <% notam.opening_times.each do |time| %>
      <td><%= time.gsub(" ", "<br />").html_safe %></td>
    <% end %>
  </tr>
<% end %>
</table>
<a class="btn btn-primary" href="/" role="button">Back</a>
