<h4>Upload notam's to parse</h4>
<%= form_tag airport_opening_times_path, multipart: true do %>
  <div class="form-group">
    <label for="Notams">Notams to Upload</label>
    <%= file_field_tag :notams %>
    <p class="help-block">Select text file with NOTAM's separate by empty line</p>
  </div>
  <%= submit_tag "Process", class: 'btn btn-primary' %>
<% end %>
