<!DOCTYPE html>
<html>
  <head>
    <title>Notam</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h3 class="text-muted">Airport opening times</h3>
        </div>
        <div class="col-md-3">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/London_Heathrow_tower_and_Virgin_B747_%285048342074%29_%282%29.jpg/220px-London_Heathrow_tower_and_Virgin_B747_%285048342074%29_%282%29.jpg" />
        </div>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
